* {
  padding:0;
  margin:0;
  color:#49306B;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(255,138,91,1) 0%, rgba(233,73,103,1) 100%);
}

/* div {border:1px dotted orange} */

h2 {
  background-color: #ffffffb0;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}

/* nav bar */
nav {
  width: 96%;
  height: 3rem;
  margin:0 auto;
  padding:0;
  color:#E94967;
  background-color:#FCEADE;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

nav>ul {
  height: 3rem;
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align:right;
}

nav>ul>li {
  padding: 0 1rem;
  display:inline-block;
}
nav>ul:first-child>li {
  padding-left: 1rem;
}

nav a, nav select {
  background:#E94967;
  border-radius: 1rem;
  border:4px solid #E94967;
  padding:0.25rem 0.75rem;
  color:#FCEADE;
  font-size: 1rem;
}
nav select {
  margin:0;
  padding:0.1rem 0.75rem;
  border-width: 6px;
}

/* main sections */

section {
  width:90%;
  max-width:90%;
  margin:1rem auto;
  padding:2rem 0;
}

#header {
  background-color: #ffffffb0;
  border-radius: 3rem;
  display: flex;
  padding: 1rem;
}
#header img {
  max-width: 12rem;
}
#header.div {
  flex:auto;
}
#header-text {
  padding-left:2rem;
}
#header h3 {
  text-align: center;
  margin-bottom:1.5rem;
}
/* Form */

#header form {
  width: 90%;
  margin: 0 2rem 0 0;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
}
#header form>div {
  flex:1 1 45%;
}
#header form>div.wide {
  flex:1 1 95%;
}
#header label {
  height: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  display: block;
  /* border-bottom: 1px dotted limegreen; */
}
#header input, #header textarea {
  width: 90%;
  min-height: 1rem;
  padding: 0.25rem;
  margin: 0.5rem 0 0.75rem 0;
  border: 2px solid #25CED1;
  background-color: #FCEADE;
}
#header div.wide input, #header textarea {
  width:95%;
}
#header textarea {
  height:5rem;
}
#header select, #header button {
  height: 1.75rem;
  margin: 0.5rem 0 1rem 0;
  padding: 0.1rem 0.75rem;
  background: #25CED1;
  border-radius: 1rem;
  border: 0;
  color: #49306B;
  font-size: 1rem;
}
/* come back to this - featured product lewk 
#header-text>.item-preview {

} */

#all-products {
  display:flex;
  flex-wrap: wrap;
}

/* styling for elements in grid */

#all-products>.item-preview, #header-text>.item-preview {
  flex: 1 1 27%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding:0 0 0.5rem 0;
  background:#25CED1;
  border-radius: 3rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.item-preview>div {
  flex:1;
}
.item-preview>.thumbnail {
  margin-top: -2rem;
}
.item-preview>.thumbnail>img {
  max-width: 100%;
  margin:1rem auto 0 auto;
}
.item-preview>.info {
  padding-left: 1rem;
}
.item-preview>.info>h4 {
  padding-top:0.5rem;
  font-size: 1.25rem;
}
.item-preview>.quick-add {
  width: 100%;
  padding:0 0 0 0;
  z-index:3;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255,255,255,1) 100%);
  min-height:2rem;
  font-size: 1.8rem;
  line-height: 1.75rem;
  text-align:right;
}
.price, .item-preview button {
  font-size: 1.0rem;
  padding-right: 0.5rem;
  position: relative;
  bottom: 0.15rem;
}
.item-preview button {
  border:1px solid #FF8A5B;
  background-color: #FF8A5B;
  border-radius: 1.5rem;
  width:1.75rem;
  height:1.75rem;
  padding:0.15rem;
}
.item-preview>.quick-add a {
  text-decoration: none;
  margin-right:0.5rem;
}

@media only screen and (max-width: 550px) {
  body {
    background-color: lightblue;
  }
}