* {
  padding:0;
  margin:0;
  color:#49306B;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(255,138,91,1) 0%, rgba(233,73,103,1) 100%);
}

/* div {border:1px dotted orange} */

h2 {
  background-color: #ffffffb0;
  border-radius: 1rem;
  padding: 0.5rem 0.75rem;
}

/* nav bar */
nav {
  width: 96%;
  height: 3rem;
  margin:0 auto;
  padding:0;
  color:#E94967;
  background-color:#FCEADE;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  display: flex;
  justify-content: space-between;
}

nav>ul {
  height: 3rem;
  padding:0;
  margin:0;
  display: flex;
  align-items: center;
  list-style-type: none;
  text-align:right;
}

nav>ul>li {
  padding: 0 1rem;
  display: inline;
}
nav>ul:first-child>li {
  padding-left: 1rem;
}

nav a, nav select {
  background:#E94967;
  border-radius: 1rem;
  border:4px solid #E94967;
  padding:0.25rem 0.75rem;
  color:#FCEADE;
  font-size: 1rem;
  text-decoration: none;
}
nav select {
  margin:0;
  padding:0.1rem 0.75rem;
  border-width: 6px;
}

/* main sections */

section {
  width:90%;
  max-width:90%;
  margin:1rem auto;
  padding:2rem 0;
}

.highlighted {
  background-color: #ffffffb0;
  border-radius: 3rem;
  display: flex;
  padding: 1rem;
}
.highlighted img {
  max-width: 12rem;
}
.highlighted>div:first-child {
  flex: auto;
  min-width: 12rem;
  max-width: 12rem;
}
.highlighted-text {
  padding-left:2rem;
}
.highlighted h2 {
  background:none;
  text-align: left;
  padding:0;
  margin:0;
  font-size:2rem;
}

.highlighted h3 {
  text-align: center;
  margin-bottom:1.5rem;
}
/* Form and product info */

.highlighted form, .highlighted .info {
  width: 90%;
  margin: 0 2rem 0 0;
  padding-left: 10%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.highlighted form>div {
  flex:1 1 45%;
}
.highlighted .info>div {
  flex:1 1 30%;
}
.highlighted form>div.wide, .highlighted .info>div.wide {
  flex:1 1 95%;
}
.highlighted label {
  height: 1rem;
  font-size: 0.85rem;
  font-weight: bold;
  display: block;
}
.highlighted input, .highlighted textarea {
  width: 90%;
  min-height: 1rem;
  padding: 0.25rem;
  margin: 0.5rem 0 0.75rem 0;
  border: 2px solid #25CED1;
  background-color: #FCEADE;
}
.highlighted div.wide input, .highlighted textarea {
  width:95%;
}
.highlighted textarea {
  height:5rem;
}
.highlighted select, .highlighted button {
  height: 1.75rem;
  margin: 0.5rem 0 1rem 0;
  padding: 0.1rem 0.75rem;
  background: #25CED1;
  border-radius: 1rem;
  border: 0;
  color: #49306B;
  font-size: 1rem;
}

/* single page */
.info p, .info p.label {
  font-size:0.8rem;
  margin:0.5rem 0;
}
.info p.label {
  padding:0.5rem 0 0.5rem 0.5rem;
}

.info span.bubble, .info p.bubble {
  background-color: #ffffffb0;
  padding: 0.5rem;
  margin:0.75rem 0;
  border-radius: 3rem;
  font-size: 1.5rem;
}
.info span.rating {
  letter-spacing: 3px;
  padding-left: 13px;
}
.info p.bubble {
  font-size: 1.0rem;
}

.info h2 {
  margin-bottom:0.8rem;
}
/* come back to this - featured product lewk 
.highlighted-text>.item-preview {

} */

#all-products {
  display:flex;
  flex-wrap: wrap;
}

/* styling for elements in grid */

#all-products>.item-preview, .highlighted-text>.item-preview {
  flex: 1 1 27%;
  display: flex;
  flex-direction: column;
  margin: 3%;
  padding:0 0 0.5rem 0;
  background:#25CED1;
  border-radius: 3rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.item-preview>div {
  flex:1;
}
.item-preview>.thumbnail {
  margin-top: -2rem;
}
.item-preview>.thumbnail>img {
  max-width: 100%;
  margin:1rem auto 0 auto;
}
.item-preview>.info {
  padding-left: 1rem;
}
.item-preview>.info>h4 {
  padding-top:0.5rem;
  font-size: 1.25rem;
}
.item-preview>.quick-add {
  width: 100%;
  padding:0 0 0 0;
  z-index:3;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0) 35%, rgba(255,255,255,1) 100%);
  min-height:2rem;
  font-size: 1.8rem;
  line-height: 1.75rem;
  text-align:right;
}
.price, .item-preview button {
  font-size: 1.0rem;
  padding-right: 0.5rem;
  position: relative;
  bottom: 0.15rem;
}
.item-preview button {
  border:1px solid #FF8A5B;
  background-color: #FF8A5B;
  border-radius: 1.5rem;
  width:1.75rem;
  height:1.75rem;
  padding:0.15rem;
}
.item-preview>.quick-add a {
  text-decoration: none;
  margin-right:0.5rem;
}
.info a {
  text-decoration: none;
}

/* styles for account page */
h3.bubble {
  background-color: #ffffffb0;
  padding: 0.5rem;
  margin:0.75rem 0;
  border-radius: 3rem;
}
div.menu>ul {
  margin-bottom:3rem;
}


@media only screen and (max-width: 550px) {
  body {
    background-color: lightblue;
  }

}